<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let noticia of paginatedNoticias()">
            <div class="card">
                <p class="text-end me-2 text-break">{{ noticia.categoria }}</p>
                <img [src]="noticia.imagen" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ noticia.titulo }}</h5>
                    <p class="card-text">{{ noticia.desc_corta }}</p>
                </div>
                <div class="botones text-end">
                    <button type="button" class="btn me-2 btn_card btn-danger"
                        [class.btn-outline-danger]="!noticia.like" [class.btn-danger]="noticia.like"
                        (click)="darLike(noticia.id)">
                        <span class="bi-heart" *ngIf="noticia.like"></span>
                        <span class="bi-heart-fill" *ngIf="!noticia.like"></span>
                    </button>
                    <button type="button" class="btn btn_card btn-primary"
                        (click)="verDetalles(noticia.id)">Ver</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" href="#" aria-label="Previous" (click)="onPageChange(currentPage - 1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" *ngFor="let page of totalPagesArray()" [class.active]="page === currentPage">
                    <a class="page-link" href="#" (click)="onPageChange(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages()">
                    <a class="page-link" href="#" aria-label="Next" (click)="onPageChange(currentPage + 1)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>