<div class="container mt-5 contenedor_login p-5 rounded-5">
    <div class="row justify-content-around align-items-center">
        <div class="col-12 col-md-6">
            <div class="alert alert-warning d-none {{logout}}">
                Ha cerrado sesión correctamente
            </div>
            <div class="card bg bg-primary bg-opacity-50">
                <div class="card-header">
                    <h5 class="text-primary">Iniciar Sesion</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Ingrese su email"
                                formControlName="email">
                            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
                                <div *ngIf="email?.errors?.['required']">
                                    Email es requerido.
                                </div>
                                <div *ngIf="email?.errors?.['email']">
                                    Email no es válido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password"
                                placeholder="Ingrese su contraseña" formControlName="password">
                            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                                class="text-danger">
                                <div
                                    *ngIf="password !== null && password !== undefined && password.errors?.['required']">
                                    Contraseña es requerida.
                                </div>
                                <div *ngIf="password?.errors?.['minlength']" class="text-danger">
                                    La contraseña debe tener al menos 8 caracteres.
                                </div>
                            </div>
                        </div>
                        <a class="m-3" routerLink="/signup">¿No tiene una cuenta?</a>
                        <button type="submit" class="btn btn-primary btn-block"
                            [disabled]="loginForm.invalid || loading">
                            <span *ngIf="!loading">Iniciar Sesión</span>
                            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            <span *ngIf="loading" class="ml-2">Iniciando sesión...</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img class="img-fluid" src="/assets/img/auth/login.jpg" alt="">
        </div>
    </div>
</div>