.texto-footer {
    font-weight: 700;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    text-size-adjust: 10;
}

footer {
    background-color: black;
}

.logo {
    width: 75px;
}

ul {
    font-size: 20px;
}