<nav class="navbar bg-primary mb-2 navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" routerLinkActive="/" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> Usuario
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/signin">Iniciar sesion</a></li>
            <li><a class="dropdown-item" routerLink="/signup">Registrar usuario</a></li>
            <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="m-1">
  <router-outlet></router-outlet>
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 text-end">
        <button class="btn btn-outline-primary" (click)="goBack()">Volver Atrás</button>
      </div>
    </div>
  </div>
</main>