<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" routerLinkActive="/" aria-current="page" href="#"><i
              class="bi bi-house-door-fill"></i>&nbsp;Inicio</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> Usuario
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/signin">Iniciar sesion</a></li>
            <li><a class="dropdown-item" routerLink="/signup">Registrar usuario</a></li>
            <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#0d6efd" fill-opacity="1"
    d="M0,160L26.7,144C53.3,128,107,96,160,117.3C213.3,139,267,213,320,234.7C373.3,256,427,224,480,202.7C533.3,181,587,171,640,149.3C693.3,128,747,96,800,90.7C853.3,85,907,107,960,138.7C1013.3,171,1067,213,1120,234.7C1173.3,256,1227,256,1280,256C1333.3,256,1387,256,1413,256L1440,256L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z">
  </path>
</svg>
<main class="m-1">
  <router-outlet></router-outlet>
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 text-end">
        <button class="btn btn-sm btn-outline-primary" (click)="goBack()">Volver Atrás</button>
      </div>
    </div>
  </div>
</main>